################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CloudWatch-Logs/FileContentIndex/923e35a1-3ae0-408f-94a3-1b6292918f57.vsidx
/.vs/CloudWatch-Logs/FileContentIndex/read.lock
